* {
  box-sizing: border-box;
  font-family: Courier New;}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: lightgrey;
  color: darkslategray;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


/*dashboard styles*/
.dash {
  border: 1px solid #f1f1f1;
  border-radius: 25px;
  height: 95%;
  width: 97%;
  position: fixed;
  margin: auto;
  display: flex;
  overflow: auto;
}

.sidebar {
	background-color: #264653;
	height: 100%;
	width: 20%;
	position: relative;
	z-index: 1;
	padding-top: 20px;
	overflow-x: hidden;
	top: 0;
	left: 0;
  border-radius: 25px;
}

.property_card {
  background-color: darkslategray;
  position: relative;
  height: 350px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
}

.property_card_fav {
  background-color: palevioletred;
  position: relative;
  height: 350px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
}

.cards_display {
  border: 1px solid #f1f1f1;
  position: relative;
  border-radius: 25px;
  margin-top: 1%;
  height: 98%;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  visibility: auto;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.sidebutton{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin-right: 2%;
  margin-left: 2%;
  border: none;
  cursor: pointer;
  width: 96%;
  opacity: 0.9;
}

img {
  padding: 10px;
  width: 190px;
  height: 200px;
  border-radius: 25px;
}
